@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600;700&family=Ysabeau+Infant:wght@200;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    width: 100%;
    font-family: 'Oswald', sans-serif;
    background: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

body, html {
    width: 100%;
    margin: 0;
    padding: 0;
  }  

.container {
    width: 100%;
    max-width: 100%;

    margin: 0 auto;
}

.header {
    background: rgb(252, 255, 206);
    display: flex;
    align-items: center;
    min-height: 0vh;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    float: left;
    width: 100px;
    padding: 20px;
}

.logo-img {
    width: 100%;
    max-width: 100px;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 10px;
    color: #363f50;
    display: block;
    font-weight: 600;
    text-decoration: none;
}

.menu .navbar ul li a:hover {
    color: #7cd2fd;
}

#menu {
    display: none;
}

.menuIcono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.headerContainer {
    text-align: center;
}

.headerText {
    font-size: 10px;
    line-height: 15px;
    color: rgb(252, 255, 206);
    margin-bottom: 45px;
    font-family: 'Ysabeau Infant', sans-serif;
}

.headerText img {
    width: 350px;
}

.footer {
    background: #363f50;
    width: 100%;
    margin-top: auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    /* Permite que los elementos del footer se ajusten al ancho del contenedor */
    justify-content: center;
    /* Centra horizontalmente los elementos */
    align-items: center;
    padding: 10px;
    /* Agrega un espacio interno al footer */
}

.footer .logo {
    float: left;
    width: 100px;
    margin-right: 10px;
}

.footer .logo-img {
    width: 100%;
    max-width: 100%;
    height: auto;
    /* Ajusta la altura automáticamente según el ancho */
}

.socialLink {
    display: flex;
    align-items: center;
    margin-top: 10px;
    /* Agrega un espacio superior al grupo de enlaces sociales */
}

.socialLink a {
    font-size: 20px;
    color: white;
    margin: 0 10px;
}

.link {
    display: flex;
    flex-wrap: wrap;
    /* Permite que los enlaces se ajusten al ancho del contenedor */
    justify-content: center;
    /* Centra horizontalmente los enlaces */
    margin-top: 10px;
    /* Agrega un espacio superior a los enlaces */
}

.link a {
    display: block;
    color: #7cd2fd;
    text-decoration: none;
    margin: 10px 25px;
}

.link a:hover {
    color: white;
}

@media(max-width:500px) {
    .header {
        min-height: 0vh;
        padding: 10px 0;
    }

    .headerText h1 {
        font-size: 80px;
        line-height: 80px;
    }

    .headerText img {
        width: 250px;
    }

    .headerContent {
        height: auto;
        padding: 100px 30px 30px 30px;
    }

    .headerContent h1 {
        font-size: 36px;
    }

    .menu {
        padding: 0px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: rgb(252, 255, 206);
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked~.navbar {
        display: block;
    }

    .menuIcono {
        display: block;
    }

    .logo {
        font-size: 24px;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        background: #fff;
        width: 100%;
        padding: 20px;
        display: none;
    }

    .navbar ul {
        flex-direction: column;
    }

    .navbar ul li {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .navbar ul li a {
        color: #363f50;
        font-weight: 600;
    }

    .footer {
        padding: 30px;
    }

    .link {
        flex-direction: column;
    }
}
